<div fxLayout="row wrap">
    <!-- Card column -->
    <div fxFlex.gt-sm="25" fxFlex="100">
      <mat-card class="oh text-center little-profile">
        <img
          mat-card-image
          src="assets/images/wcc/bg.jpg"
          alt="Photo of a Shiba Inu"
          style="max-height: 170px;"
        />
        <mat-card-content>
          <div class="pro-img">
            <img src="assets/images/users/4.jpg" width="100" alt="user" style="border: solid 3px white;" />
          </div>
          <h3 class="m-b-0">Juan Dela Cruz</h3>
          <h6 class="m-t-0">Fullstack Developer</h6>


 
            <mat-form-field>
              <textarea matInput>...</textarea>
            </mat-form-field>
       

        </mat-card-content>
      </mat-card>
    </div>
    <!-- Card column -->
    <!-- Card column -->
    <div fxFlex.gt-sm="75" fxFlex="100">
      <mat-card>
        <mat-tab-group> 
          <!-- Tab 2 -->
          <mat-tab label="Profile">
            <mat-card-content>
              <mat-card-title>Details about you</mat-card-title>
              <!-- ============================================================== -->
              <!-- column -->
              <!-- ============================================================== -->
              <form class="basic-form"> 

                <div fxLayout="row wrap" fxFlexAlign="center" class="row">
                  <!-- column -->
                  <div fxFlex.gt-sm="30" fxFlex="100" class="p-10">

                    <mat-form-field >
                        <input
                            matInput 
                            placeholder="Student No." 
                        />
                    </mat-form-field>


                  </div>

                  <div fxFlex.gt-sm="30" fxFlex="100" class="p-10">

                    
                    <mat-form-field >
                      <mat-select placeholder="Batch Graduated">
                          <mat-option value="2015-2016">2015-2016</mat-option>
                          <mat-option value="2016-2017">2016-2017</mat-option>
                          <mat-option value="2017-2018">2017-2018</mat-option>
                          <mat-option value="2018-2019">2018-2019</mat-option>
                          <mat-option value="2019-2020">2019-2020</mat-option>
                          <mat-option value="2020-2021">2020-2021</mat-option>
                      </mat-select>
                  </mat-form-field> 

                  </div>       
                  
                  
                  <div fxFlex.gt-sm="30" fxFlex="100" class="p-10">
 
                    <mat-form-field >
                      <input
                        matInput
                        placeholder="Contact Number"
                      />
                    </mat-form-field>  
                  </div> 

 
                </div>

 
                <div fxLayout="row wrap" fxFlexAlign="center" class="row">
                  <!-- column -->
                  <div fxFlex.gt-sm="30" fxFlex="100" class="p-10">
 
                    <mat-form-field >
                        <input
                          matInput
                          placeholder="Last Name"
                        />
                    </mat-form-field>  
                  </div> 
 
                  <div fxFlex.gt-sm="30" fxFlex="100" class="p-10">
 
                    <mat-form-field >
                      <input
                        matInput
                        placeholder="First Name"
                      />
                    </mat-form-field>  
                  </div> 


                  <div fxFlex.gt-sm="30" fxFlex="100" class="p-10">
 
                    <mat-form-field >
                      <input
                        matInput
                        placeholder="Middle Name"
                      />
                    </mat-form-field>  
                  </div> 



                </div>


              </form>
            </mat-card-content>
          </mat-tab>

          <mat-tab label="Job">
            <mat-card-content>
              <mat-card-title>Form Basic Layouts</mat-card-title>
              <!-- ============================================================== -->
              <!-- column -->
              <!-- ============================================================== -->
              <form class="basic-form">
                <div fxLayout="row wrap">

                  <div fxFlex.gt-sm="100" fxFlex="100">
                    <mat-form-field>
                      <input matInput placeholder="Some text value" />
                    </mat-form-field>
                  </div>
                
  
               
                  <div fxFlex.gt-sm="100" fxFlex="100">
                    <button mat-raised-button color="primary">Update Profile</button>
                  </div>
                </div>
              </form>
            </mat-card-content>
          </mat-tab>


          <mat-tab label="Settings">
            <mat-card-content>
              <mat-card-title>Form Basic Layouts</mat-card-title>
              <!-- ============================================================== -->
              <!-- column -->
              <!-- ============================================================== -->
              <form class="basic-form">
                <div fxLayout="row wrap">

                  <div fxFlex.gt-sm="100" fxFlex="100">
                    <mat-form-field>
                      <input matInput placeholder="Some text value" />
                    </mat-form-field>
                  </div>
                
  
               
                  <div fxFlex.gt-sm="100" fxFlex="100">
                    <button mat-raised-button color="primary">Update Profile</button>
                  </div>
                </div>
              </form>
            </mat-card-content>
          </mat-tab>


        </mat-tab-group>
      </mat-card>
    </div>
  </div>