<div fxLayout="row wrap">
    <!-- Card column -->

    <div fxFlex.gt-sm="100" fxFlex="100" *ngIf="account?.AccountType == 'Admin'">

      <mat-card>

        <mat-card-content> 
                  
              <form [formGroup]="announcementForm">

                <div fxLayout="row" fxLayoutWrap="wrap">
                  <!-- column -->
                  <div fxFlex.gt-sm="50" fxFlex="50">
                    <mat-form-field>
                      <input matInput placeholder="Title" formControlName="Title" />
                    </mat-form-field>
                  </div>
                  <!-- column -->
                  <div fxFlex.gt-sm="50" fxFlex="50">
                    <mat-form-field>
                      <input matInput placeholder="Author" formControlName="Author" />
                    </mat-form-field>
                  </div>
                </div>
    
 


                <div class="form-group">
                  <input  
                      id="file" 
                      type="file" 
                      multiple
                      class="form-control"
                      accept=".jpg,.png,.jpeg"
                      (change)="onFileChange($event)">

                  <div>
                    <img *ngFor="let img of announcement_images_preview" [src]="img" style="max-width: 100px;max-height: 150px;margin:5px;">
                  </div>                        
              </div>



                <div fxLayout="row" fxLayoutWrap="wrap">
                  <!-- column -->
                  <div fxFlex.gt-sm="100" fxFlex="100">
                    <quill-editor formControlName="Description" [style]="{ height: '200px' }"  ></quill-editor>
                  </div>
                </div> 


 
            


                <div fxLayout="row" fxLayoutWrap="wrap">
                  <!-- column -->
                  <div fxFlex.gt-sm="100" fxFlex="100" class="mini-spacer">
                    <button mat-raised-button color="primary" (click)="onPostAnnouncement()">Post</button>
                  </div>
                </div>





              </form>
      
        </mat-card-content>

      </mat-card>

      
      

    </div>
 

    <!-- <div fxFlex.gt-sm="10" fxFlex="100">
    </div> -->

    <div fxFlex.gt-sm="100" fxFlex="100" *ngFor="let announcement of announcements">
      <mat-card>
        <mat-card-content>
        <mat-toolbar class=" no-shadow chat-right-panel">
          <div fxLayout="row" fxFlex="100" fxLayoutAlign="center center">
            <span class="top-avatar m-r-10">
              <img src="assets/images/users/admin.jpg" class="img-circle" />
            </span>
            <div fxFlex>
              <h3 matLine>Admin
                <small class="text-muted font-10">{{ announcement.DatePublish | date : 'MMMM d, y'}}</small>  
              </h3>
 

            </div>

            <button [matMenuTriggerFor]="them" mat-icon-button class="ml-1"  *ngIf="account?.AccountType == 'Admin'">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #them="matMenu" x-position="before">
              <button mat-menu-item>Edit</button>
              <button mat-menu-item>Delete</button>
            </mat-menu>
          </div>
        </mat-toolbar>

 

          <img mat-card-image  loading="lazy" *ngIf="announcement?.announcement_images.length > 0"  src="{{ announcement?.announcement_images[0].ImageUrl }}" alt="announcement image" />
    
            <div class="text-center m-t-10">
                <mat-card-title>{{ announcement.Title }}</mat-card-title>
                <mat-card-subtitle>{{ announcement.Author }}</mat-card-subtitle>                
            </div>

            <div [innerHTML]="announcement.Description"> </div>

          <mat-card-actions>
            <button mat-button (click)="readAnnouncement(announcement.id)">Read More</button>
          </mat-card-actions>
        </mat-card-content>
      </mat-card>
 
    </div> 

</div>