<div fxLayout="row wrap">
    <!-- Card column -->

    <div fxFlex.gt-sm="100" fxFlex="100">
      <!-- <button mat-fab color="warn" class="top-right" (click)="openDialog()">
        <mat-icon class="mat-24">create</mat-icon>
      </button> -->

      <mat-card>

        <mat-card-content>

          <h3 class="m-t-0">Compose</h3>
          <form [formGroup]="announcementForm">

            <div fxLayout="row" fxLayoutWrap="wrap">
              <!-- column -->
              <div fxFlex.gt-sm="50" fxFlex="50">
                <mat-form-field>
                  <input matInput placeholder="Title" formControlName="Title" />
                </mat-form-field>
              </div>
              <!-- column -->
              <div fxFlex.gt-sm="50" fxFlex="50">
                <mat-form-field>
                  <input matInput placeholder="Author" formControlName="Author" />
                </mat-form-field>
              </div>
            </div>
            <div fxLayout="row" fxLayoutWrap="wrap">
              <!-- column -->
              <div fxFlex.gt-sm="100" fxFlex="100">
                <quill-editor formControlName="Description" [style]="{ height: '200px' }"  ></quill-editor>
              </div>
            </div>

       


            <div fxLayout="row" fxLayoutWrap="wrap">
              <!-- column -->
              <div fxFlex.gt-sm="100" fxFlex="100" class="mini-spacer">
                <button mat-raised-button color="primary" (click)="onPostAnnouncement()">Post</button>
              </div>
            </div>



          </form>
    

        </mat-card-content>

      </mat-card>

      
      

    </div>
 

    <!-- <div fxFlex.gt-sm="10" fxFlex="100">
    </div> -->

    <div fxFlex.gt-sm="100" fxFlex="100" *ngFor="let announcment of announcements">
      <mat-card>
        <mat-card-content>
        <mat-toolbar class=" no-shadow chat-right-panel">
          <div fxLayout="row" fxFlex="100" fxLayoutAlign="center center">
            <span class="top-avatar m-r-10">
              <img src="assets/images/users/admin.jpg" class="img-circle" />
            </span>
            <div fxFlex>
              <h3 matLine>Admin
                <small class="text-muted font-10">{{ announcment.DatePublish | date : 'MMMM d, y'}}</small>  
              </h3>

              <!-- <div class="m-l-10">
                <span class="text-muted font-10">johndeo@gmail.com</span>
              </div> -->

            </div>

            <button [matMenuTriggerFor]="them" mat-icon-button class="ml-1">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #them="matMenu" x-position="before">
              <button mat-menu-item>Edit</button>
              <button mat-menu-item>Delete</button>
            </mat-menu>
          </div>
        </mat-toolbar>

 

        <img mat-card-image src="assets/images/big/img4.jpg" alt="Photo of a Shiba Inu" />
  
            <div class="text-center">
                <mat-card-title>{{ announcment.Title }}</mat-card-title>
                <mat-card-subtitle>{{ announcment.Author }}</mat-card-subtitle>                
            </div>

            <div [innerHTML]="announcment.Description"> </div>

          <mat-card-actions>
            <button mat-button>Read More</button>
          </mat-card-actions>
        </mat-card-content>
      </mat-card>
 
    </div> 

</div>