  
 	<section class="about-upper-section" itemprop="mainContentofPage">
        <div class="container">

            <article class="who-we-are">
                <h2 class="top-heading">WCC Vision</h2>
                <p>​To become one of Asia’s top professional aviation schools recognized to produce graduates who can contribute to nation building and global progress.</p>

                <h2 class="top-heading">WCC Mission
                </h2>
                <p>​​WCC Aeronautical and Technological College offers quality aviation education by means of a comprehensive curricular offering, unmatched experiential learning approach, industry-involved instructors, and excellent and modern facilities to graduate professionals in aeronautics and leaders of the world.</p>

                <h2 class="top-heading">COLLEGE VISION
                </h2>
                <p>We are the technological arm of the institution in producing globally competent, innovative, and socially and ethically responsible computing professionals.</p>


                <h2 class="top-heading">COLLEGE MISSION
                </h2>
                <p>The College of Information Technology prepares the students by equipping them with mobile, network and multimedia computing skills, translating these skills set into innovative capstone projects and cultivating character through involvement in community-based initiatives.
                </p>

            </article>


            <div class="our-story">
                <h2 class="top-heading">PROGRAM EDUCATIONAL OBJECTIVES</h2>
                <ul>
                    <li>1. 80% have worked as one of the primary job roles such as web and application developer, database administrator, system administrator, network engineer or technical support specialist</li>
                    <li>2. 50% have passed IT Certification here and abroad;</li>
                    <li>3. 20% have been active and recognized for outstanding work with respect to an IT solution.</li>

                </ul>

                <h2 class="top-heading">
                    ADMINISTRATORS</h2>
                <ul>
                    <li>2012​Caballero, Remar​Program Coordinator</li>
                    <li>2014​Pineda, Sherwin​Program Coordinator</li>
                    <li>2015​Del Mundo, Lersan​Dean</li>

                </ul>
                
            </div>

        

        </div>
    </section>
